### 1983-1988에 현역이었던, 최동원이 2015-2020에 활동했다면 얼마의 연봉을 받았을까?

#### 시장을 고려해야함

-

In [1]:
import numpy as np
import pandas as pd

data_pitcher_1520 = pd.read_csv('./pitcher_15-20.csv', encoding='utf-8')
data_pitcher_1520

,연도,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP,TBF
0,2015,양현종,KIA,2.44,32,15,6,0,1,0.714,184.333333,150,18,78,7,157,52,50,1.24,756
1,2015,해커,NC,3.13,31,19,5,0,0,0.792,204.000000,174,14,36,25,164,81,71,1.03,833
2,2015,피가로,삼성,3.38,25,13,7,0,0,0.650,165.000000,154,16,51,7,117,66,62,1.24,688
3,2015,우규민,LG,3.42,25,11,9,0,0,0.550,152.666667,163,13,17,12,119,64,58,1.18,621
4,2015,린드블럼,롯데,3.56,32,13,11,0,0,0.542,210.000000,196,28,52,12,180,86,83,1.18,861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,2020,양현종,KIA,4.70,31,11,10,0,0,0.524,172.333333,180,13,64,5,149,99,90,1.42,746
124,2020,박세웅,롯데,4.70,28,8,10,0,0,0.444,147.333333,177,20,47,8,108,85,77,1.52,658
125,2020,박종훈,SK,4.81,29,13,11,0,0,0.542,157.333333,146,14,78,22,134,90,84,1.42,691
126,2020,서폴드,한화,4.91,28,10,13,0,0,0.435,165.000000,203,19,42,13,97,107,90,1.48,734
127,2020,핀토,SK,6.17,30,6,15,0,0,0.286,162.000000,198,19,90,11,112,121,111,1.78,766

In [2]:
data_pitcher_8388 = pd.read_csv('./pitcher_83-88.csv', encoding='utf-8')
data_pitcher_8388

,연도,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,WPCT,TBF,IP,H,HR,BB,HBP,SO,R,ER
0,1983,하기룡,MBC,2.34,36,6,2,10,11,4,...,0.476,696,173.333333,137,4,48,8,73,57,45
1,1983,장명부,삼미,2.36,60,36,6,30,16,6,...,0.652,1712,427.333333,388,19,106,16,220,138,112
2,1983,유종겸,MBC,2.40,34,4,0,8,7,5,...,0.533,560,139.000000,103,8,50,5,74,45,37
3,1983,박상열,OB,2.49,30,7,1,10,9,0,...,0.526,716,173.333333,162,11,44,14,68,57,48
4,1983,이길환,MBC,2.51,33,10,4,15,7,4,...,0.682,845,208.333333,184,8,56,11,85,68,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1988,김용남,빙그레,4.11,27,1,0,8,6,1,...,0.571,525,122.666667,150,9,25,2,41,67,56
156,1988,유종겸,MBC,4.13,23,6,1,4,7,1,...,0.364,484,109.000000,102,7,65,3,45,58,50
157,1988,김홍명,빙그레,4.27,24,7,1,8,13,0,...,0.381,656,151.666667,158,8,72,4,61,75,72
158,1988,김대현,해태,4.54,31,3,0,7,6,2,...,0.538,585,136.666667,136,15,44,8,47,72,69
159,1988,정삼흠,MBC,5.67,27,6,1,5,16,0,...,0.238,634,139.666667,163,20,61,14,43,96,88

In [3]:
data_salary_1520 = pd.read_csv('./salary_15-20.csv', encoding='utf-8')
data_salary_1520

      선수명    연도   팀명  연봉(만원)     WAR
0     로저스  2015   한화  170000   2.836
1     김태균  2015   한화  160000   5.196
2     테임즈  2015   NC  125000  10.873
3     윤석민  2015  KIA  125000   3.873
4    린드블럼  2015   롯데  120000   6.478
..    ...   ...  ...     ...     ...
595   진해수  2020   LG   25000   0.576
596   김상수  2020   삼성   25000   2.917
597   송광민  2020   한화   25000  -0.001
598   한유섬  2020   SK   25000   1.277
599   이명기  2020   NC   24000   1.872

[600 rows x 5 columns]

In [6]:
data_pitcher_8388.columns

Index(['연도', '선수명', '팀명', 'ERA', 'G', 'CG', 'SHO', 'W', 'L', 'SV', 'HLD',
       'WPCT', 'TBF', 'IP', 'H', 'HR', 'BB', 'HBP', 'SO', 'R', 'ER'],
      dtype='object')

In [7]:
data_pitcher_1520.columns

Index(['연도', '선수명', '팀명', 'ERA', 'G', 'W', 'L', 'SV', 'HLD', 'WPCT', 'IP', 'H',
       'HR', 'BB', 'HBP', 'SO', 'R', 'ER', 'WHIP', 'TBF'],
      dtype='object')